/*
  ##Device = Desktops HiDPI screen
  ##Screen = 1440px to higher resolution desktops
*/
@media (min-width: 1440px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 25%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 5em;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to 1439px
*/
@media (min-width: 1281px) and (max-width: 1439px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 25%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 5em;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 31%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 5em;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 42%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 4em;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 31%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 5em;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 64%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .2em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .22em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 0;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .main_menu .main-menu-item ul li .nav-link:hover {
        color: #ff0012;
    }

    .main_menu .main-menu-item ul li a.active {
        color: #cf000f !important;
        background-color: transparent;
    }

    .main_menu .main-menu-item ul li a:hover {
        color: #cf000f !important;
        background-color: #f7f7f7;
    }

    .main_menu .main-menu-item ul li a:active {
        color: #cf000f !important;
        background-color: #eee;
    }

    .signature-img {
        width: 66%;
    }

    .signature-name {
        font-size: 23px;
        letter-spacing: .005em;
    }

    .signature-title {
        margin-top: -15px;
        letter-spacing: .03em;
        font-size: 20px !important;
    }

    #chart-container {
        padding: 0;
    }
}
