.accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0;
}

.accordion .accordion-toggle {
    display: block;
    padding: 10px 1em;
    text-decoration: none;
    color: #cf000f;
}

.accordion .panel-title {
    font-size: 1.5em;
}

.accordion .panel-body {
    padding: 0 1.5em;
}

.accordion .panel-body p {
    font-size: 17px;
    text-align: justify;
    margin-bottom: .5em !important;
}

.accordion .panel-body ol {
    font-size: 17px;
}

.accordion .panel-heading a.collapsed:hover, .accordion .panel-heading a.collapsed:focus {
    background-color: #cf000f;
    color: #fff;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading a.collapsed:hover u, .accordion .panel-heading a.collapsed:focus u {
    color: #fff;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading a.collapsed:hover::before, .accordion .panel-heading a.collapsed:focus::before {
    color: #fff;
}

.accordion .panel-heading {
    padding: 0;
    border-radius: 0;
}

.accordion .panel-heading a:not(.collapsed) {
    color: #fff;
    background-color: #cf000f;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading a:not(.collapsed) u {
    color: #fff;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading .accordion-toggle::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f139';
    float: right;
    color: #fff;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading .accordion-toggle.collapsed::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f13a';
    color: #cf000f;
    transition: all 0.2s ease-in;
}
